@using Bandodientu.Models;
@using Bandodientu.Models.ViewModels;
@model ContactListViewModel;
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<main id="main" class="main">
    <div class="pagetitle">
        <h2> Danh sách liên hệ</h2>
    </div>
    <form asp-action="Search" asp-controller="Contact" class="input1-group">
        <div class="input-group mb-4 border rounded-pill p-1" style="background-color:white">
            <input type="search" name="keywords" placeholder="Tìm kiếm theo tên?" aria-describedby="button-addon3" class="form-control bg-none border-0">
        </div>
        <div class="month-year">
            <label for="lang-select">Tháng</label>
            <select name="month" id="lang-select">
                <option value="null">--Chọn--</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
        </div>
        <div class="month-year">
            <label for="lang-select" class="year">Năm</label>
            <select name="year" id="lang-select">
                <option value="null">--Chọn--</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
                <option value="2025">2025</option>
                <option value="2026">2026</option>
            </select>
        </div>
        <div class="input-group-append border-0">
            <button id="button-addon3" type="submit" class="btn btn-link text-success"><i class="bi bi-search"></i></button>
        </div>
    </form>
    <section class="section dashboard">
        <div class="row">
            <div class="col-12">
                <div class="card-body mt-4">
                    <table class="table table-borderless datatable">
                        <thead>
                            <tr>
                                <th class="col-1 text-center">Mã</th>
                                <th class="col-2 text-center">Name</th>
                                <td class="col-1 text-center">Email</td>
                                <td class="col-2 text-center">Date</td>
                                <td class="col-3 text-center">Messeage</td>
                                <th class="col-1 text-center">Ẩn/Hiện</th>
                                <td class="col-3 text-center">Chức năng</td>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 1;
                            }
                            @foreach (var item in Model.Contacts)
                            {
                                <tr class="text-center" id="tr_@item.ContactID">
                                    <td>@(i++)</td>
                                    <td class ="text-center">
                                        <a asp-area="Admin" asp-controller="Contact" asp-action="Details"
                                           asp-route-id="@item.ContactID" class="text-center">@item.Name</a>
                                    </td>
                                    <td class="text-center">@item.Email</td>
                                    <td class="text-center">@item.CreateDate.ToString("dd/MM/yyyy")</td>
                                    <td class="text-center">@item.Messeage</td>
                                    <td class="text-center">
                                        @if (item.IsActive == true)
                                        {
                                            @Html.CheckBox("IsActive", true, new { disabled = "disabled" })
                                        }
                                        else
                                        {
                                            @Html.CheckBox("IsActive", new { disabled = "disabled" })
                                        }
                                    </td>
                                    <td class="text-center">
                                        <a asp-area="Admin" asp-controller="Contact" asp-action="Edit"
                                           asp-route-id="@item.ContactID" class="btn btn-primary btn-sm"
                                           title="Sửa nội dung liên hệ"><i class="bi bi-pencil"></i></a>
                                        <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.ContactID">Chi tiết</a>
                                        <a data-id="@item.ContactID" class="btn btn-danger btn-sm btn-delete"><i class="bi bi-trash"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="container mt-3">
            <ul class="list-group list-group-horizontal">
                @for (i = 1; i <= Model.PagingInfo.TotalPages; i++)
                {
                    @if (i == 1)
                    {
                        <li class="list-group-item"><a href="https://localhost:7295/Admin/Contact/?productPage=@i">1</a></li>
                    }
                    else
                    {
                        <li class="list-group-item"><a href="https://localhost:7295/Admin/Contact/?productPage=@i">@i</a></li>
                    }
                }
                <li class="list-group-item"><a href="https://localhost:7295/Admin/Contact/?productPage=@(Model.PagingInfo.CurrentPage + 1)"><i class="bi bi-arrow-right-circle"></i></a></li>
            </ul>
        </div>
    </section>
</main>
@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        $(document).ready(function () {
            $(".btn-delete").click(function () {
                _id = $(this).data("id");

                // Use SweetAlert for confirmation
                Swal.fire({
                    title: 'Bạn có chắc muốn xóa?',
                    text: "Thao tác này không thể hoàn tác!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Xác nhận',
                    cancelButtonText: 'Hủy'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: "/Admin/Contact/Delete",
                            type: "POST",
                            data: { id: _id },
                            success: function (result) {
                                if (result) {
                                    $("#tr_" + _id).remove();
                                    toastr.success('Xóa thành công');
                                } else {
                                    toastr.error('Xóa không thành công');
                                }
                            }
                        });
                    }
                });
            });
        });
    </script>
}
