@using Bandodientu.Models;
@model IList<PostComment>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<main id="main" class="main">
    <div class="pagetitle">
        <h2> Danh sách bình luận</h2>
    </div>
    <section class="section dashboard">
        <div class="row">
            <div class="col-12">
                <div class="card-body mt-4">
                    <table class="table table-borderless datatable">
                        <thead>
                            <tr>
                                <th class="col-1 text-center">Mã</th>
                                <th class="col-3 text-center">Name</th>
                                <td class="col-2 text-center">Email</td>
                                <td class="col-2 text-center">Messeage</td>
                                <td class="col-1 text-center">PostID</td>
                                <td class="col-1 text-center">Ẩn/Hiện</td>
                                <td class="col-1 text-center">Chức năng</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th class="text-center" scope="row">@item.CommentID</th>
                                    <td>
                                        <a asp-area="Admin" asp-controller="Menu" asp-action="Details"
                                           asp-route-id="@item.CommentID" class="text-primary">@item.Name</a>
                                    </td>
                                    <td class="text-center">@item.Email</td>
                                    <td class="text-center">@item.Message</td>
                                    <td class="text-center">@item.PostID</td>
                                    <td class="text-center">
                                        @if (item.IsActive == true)
                                        {
                                            @Html.CheckBox("IsActive", true, new { disabled = "disabled" })
                                        }
                                        else
                                        {
                                            @Html.CheckBox("IsActive", new { disabled = "disabled" })
                                        }
                                    </td>
                                    <td class="text-center">
                                        <a asp-area="Admin" asp-controller="PostComment" asp-action="Edit"
                                           asp-route-id="@item.CommentID" class="btn btn-primary btn-sm"
                                           title="Sửa nội dung bình luận"><i class="bi bi-pencil"></i></a>
                                        <a asp-area="Admin" asp-controller="PostComment" asp-action="Delete"
                                           asp-route-id="@item.CommentID" class="btn btn-danger btn-sm"
                                           title="Xóa bình luận"><i class="bi bi-trash"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</main>