@using Bandodientu.Utilities
@model IList<PostComment>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div class="comments-list-wrap">
	<h3 class="comment-count-title">@ViewBag.comment Comments</h3>
	<div class="comment-list">
		@if (Model != null && Model.Any(item => item.PostID == ViewBag.PostID))
		{
			@foreach (var item in Model.Where(item => item.PostID == ViewBag.PostID))
			{
				<div class="single-comment-body">
					<div class="comment-text-body">
						<h4>@item.Name <span class="comment-date">@item.CreateDate</span><a class="reply-btn">reply</a></h4>
						<p>@item.Message</p>
					</div>
				</div>
				<form class="hidden-message" id="hidden-message">
					<input id="c_customerID" value="@Function._CustomerID" class="input" type="text" style="display:none">
					<input id="c_commentID" value="@item.CommentID" class="input1" type="text" style="display:none">
					<input id="messeage" style="border-radius:50px;width: 400px;margin-left: 80px" type="text" placeholder="Nhập câu trả lời....." /><br />
					<button type="button" id="c_reply" class="btn btn-info" style="border-radius: 50px;margin-left: 400px;">Trả lời</button>
				</form>
			}
		}
		else
		{
			<div class="single-comment-body">
				<p>Không có bình luận nào</p>
			</div>
		}
	</div>

</div>
<div class="comment-template">
	<h4>Leave a comment</h4>
	<p>If you have a comment dont feel hesitate to send us your opinion.</p>
	<form>
		<p>
			<input id="c_name" type="text" placeholder="Your Name">
			<input id="c_email" type="email" placeholder="Your Email">
		</p>
		<p><textarea name="comment" id="c_comment" cols="30" rows="10" placeholder="Your Message"></textarea></p>
		<input id="c_postID" value="@ViewBag.PostID" class="input1" type="text" style="display:none">
		<p><button type="button" id="c_send" class="btn btn-outline-info">Gửi</button></p>
	</form>
</div>
@section Scripts4 {
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<script>
		$(document).ready(function () {
			$(".reply-btn").click(function () {
				$.ajax({
					url: "/Home/CheckLogin",
					type: "POST",
					success: function (result) {
						if (!result.isLogin) {
							toastr.error("Đăng nhập để phản hồi!");
						} else {
							$('#hidden-message').show();
						}
					},
				});
			});
		});
	</script>
}
@section Scripts3{
	<script>
		$(document).ready(function () {
			$("#c_send").click(function () {
				_name = $("#c_name").val();
				_email = $("#c_email").val();
				_comment = $("#c_comment").val();
				id = $("#c_postID").val();
				$.ajax({
					url: "/Post/Create",
					type: "POST",
					data: { name: _name, email: _email, comment: _comment, id: id },
					success: function (result) {
						if (result) {
							$("#c_name").val("");
							$("#c_email").val("");
							$("#c_comment").val("");
							$("#c_postID").val("");
							toastr.success('Gửi thành công');
						} else {
							toastr.error('Gửi không thành công');
						}
					}
				});
			});
		})
	</script>
}
@section Scripts5{
	<script>
		$(document).ready(function () {
			$("#c_reply").click(function () {
				_customerID = $("#c_customerID").val();
				_commentID = $("#c_commentID").val();
				messeage = $("#messeage").val();
				$.ajax({
					url: "/ReplyComment/Create",
					type: "POST",
					data: { customerID: _customerID, commentID: _commentID, messeage: messeage},
					success: function (result) {
						if (result) {
							$("#c_customerID").val("");
							$("#c_commentID").val("");
							$("#messeage").val("");
							toastr.success('Gửi thành công');
						} else {
							toastr.error('Gửi không thành công');
						}
					}
				});
			});
		})
	</script>
}