@using Bandodientu.Models;
@using Bandodientu.Models.ViewModels;
@model LocationListViewModel;
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<main id="main" class="main">
    <div class="pagetitle">
        <h2> Danh sách địa điểm</h2>
    </div>
    <form asp-action="Search" asp-controller="Location">
        <div class="input-group mb-4 border rounded-pill p-1" style="background-color:white">
            <input type="search" name="keywords" placeholder="Tìm kiếm theo địa điểm?" aria-describedby="button-addon3" class="form-control bg-none border-0">
            <div class="input-group-append border-0">
                <button id="button-addon3" type="submit" class="btn btn-link text-success"><i class="bi bi-search"></i></button>
            </div>
        </div>
    </form>
    <p>
        <a type="button" class="btn btn-success" asp-area="Admin" asp-controller="Location" asp-action="Create">
            <i class="bi bibi-file-earmark-text me-1">Thêm địa điểm</i>
        </a>
    </p>
    <section class="section dashboard">
        <div class="row">
            <div class="col-12">
                <div class="card-body mt-4">
                    <table class="table table-borderless datatable">
                        <thead>
                            <tr>
                                <th class="col-1 text-center">Mã</th>
                                <th class="col-3 text-center">Địa điểm</th>
                                <td class="col-2 text-center">Parent</td>
                                <td class="col-1 text-center">Ẩn/Hiện</td>
                                <td class="col-3 text-center">Chức năng</td>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 1;
                            }
                            @foreach (var item in Model.Locations)
                            {
                                <tr class="text-center" id="tr_@item.LocationID">
                                    <td>@(i++)</td>
                                    <td class="text-center">
                                        <a asp-area="Admin" asp-controller="Location" asp-action="Details"
                                           asp-route-id="@item.LocationID" class="text-primary">@item.Name</a>
                                    </td>
                                    <td class="text-center">@item.Parent</td>
                                    <td class="text-center">
                                        @if (item.IsActive == true)
                                        {
                                            @Html.CheckBox("IsActive", true, new { disabled = "disabled" })
                                        }
                                        else
                                        {
                                            @Html.CheckBox("IsActive", new { disabled = "disabled" })
                                        }
                                    </td>
                                    <td class="text-center">
                                        <a asp-area="Admin" asp-controller="Location" asp-action="Edit"
                                           asp-route-id="@item.LocationID" class="btn btn-primary btn-sm"
                                           title="Sửa nội dung bài viết"><i class="bi bi-pencil"></i></a>
                                        <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.LocationID">Chi tiết</a>
                                        <a data-id="@item.LocationID" class="btn btn-danger btn-sm btn-delete"><i class="bi bi-trash"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="container mt-3">
            <ul class="list-group list-group-horizontal">
                @for (i = 1; i <= Model.PagingInfo.TotalPages; i++)
                {
                    @if (i == 1)
                    {
                        <li class="list-group-item"><a href="https://localhost:7295/Admin/Location/?productPage=@i">1</a></li>
                    }
                    else
                    {
                        <li class="list-group-item"><a href="https://localhost:7295/Admin/Location/?productPage=@i">@i</a></li>
                    }
                }
                <li class="list-group-item"><a href="https://localhost:7295/Admin/Location/?productPage=@(Model.PagingInfo.CurrentPage + 1)"><i class="bi bi-arrow-right-circle"></i></a></li>
            </ul>
        </div>
    </section>
</main>
@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".btn-delete").click(function () {
                _id = $(this).data("id");
                if (confirm("Bạn có muốn xóa không")) {
                    $.ajax({
                        url: "/Admin/Location/Delete",
                        type: "POST",
                        data: { id: _id },
                        success: function (result) {
                            if (result) {
                                $("#tr_" + _id).remove();
                                toastr.success('Xóa thành công');
                            }
                            else {
                                toastr.error('Xóa không thành công');
                            }
                        }
                    })
                }
            });
        })
    </script>
}
