@using Bandodientu.Models;
@using Bandodientu.Models.ViewModels;
@model OrderDetailListViewModel;
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<main id="main" class="main">
    <div class="pagetitle">
        <h2> Danh sách chi tiết đơn hàng</h2>
    </div>
    <section class="section dashboard">
        <div class="row">
            <div class="col-12">
                <div class="card-body mt-4">
                    <table class="table table-borderless datatable">
                        <thead>
                            <tr>
                                <th class="col-1 text-center">Mã</th>
                                <th class="col-1 text-center">Mã đơn hàng</th>
                                <td class="col-1 text-center">Mã sản phẩm</td>
                                <td class="col-1 text-center">Số lượng</td>
                                <td class="col-2 text-center">Giá</td>
                                <td class="col-3 text-center">Chức năng</td>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 1;
                            }
                            @foreach (var item in Model.OrderDetails)
                            {
                                <tr class="text-center" id="tr_@item.OrderDetailID">
                                    <td>@(i++)</td>
                                    <td class="text-center">
                                        <a asp-area="Admin" asp-controller="OrderDetail" asp-action="Details"
                                           asp-route-id="@item.OrderID" class="text-primary">@item.OrderID</a>
                                    </td>
                                    <td class="text-center">@item.ProductID</td>
                                    <td class="text-center">@item.Quantity</td>
                                    <td class="text-center">@item.Price</td>
                                    <td class="text-center">
                                        <a asp-area="Admin" asp-controller="OrderDetail" asp-action="Edit"
                                           asp-route-id="@item.OrderDetailID" class="btn btn-primary btn-sm"
                                           title="Sửa nội dung bình luận"><i class="bi bi-pencil"></i></a>
                                        <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.OrderDetailID">Chi tiết</a>
                                        <a data-id="@item.OrderDetailID" class="btn btn-danger btn-sm btn-delete"><i class="bi bi-trash"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="container mt-3">
            <ul class="list-group list-group-horizontal">
                @for (i = 1; i <= Model.PagingInfo.TotalPages; i++)
                {
                    @if (i == 1)
                    {
                        <li class="list-group-item"><a href="https://localhost:7295/Admin/OrderDetail/?productPage=@i">1</a></li>
                    }
                    else
                    {
                        <li class="list-group-item"><a href="https://localhost:7295/Admin/OrderDetail/?productPage=@i">@i</a></li>
                    }
                }
                <li class="list-group-item"><a href="https://localhost:7295/Admin/OrderDetail/?productPage=@(Model.PagingInfo.CurrentPage + 1)"><i class="bi bi-arrow-right-circle"></i></a></li>
            </ul>
        </div>
    </section>
</main>
@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".btn-delete").click(function () {
                _id = $(this).data("id");
                if (confirm("Bạn có muốn xóa không")) {
                    $.ajax({
                        url: "/Admin/OrderDetail/Delete",
                        type: "POST",
                        data: { id: _id },
                        success: function (result) {
                            if (result) {
                                $("#tr_" + _id).remove();
                                toastr.success('Xóa thành công');
                            }
                            else {
                                toastr.error('Xóa không thành công');
                            }
                        }
                    })
                }
            });
        })
    </script>
}
