@using Bandodientu.Models;
@model IList<Product>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<main id="main" class="main">
    <div class="pagetitle">
        <h2> Danh sách sản phẩm</h2>
    </div>
    <p>
        <a type="button" class="btn btn-success" asp-area="Admin" asp-controller="Product" asp-action="Create">
            <i class="bi bibi-file-earmark-text me-1">Thêm sản phẩm</i>
        </a>
    </p>
    <section class="section dashboard">
        <div class="row">
            <div class="col-12">
                <div class="card-body mt-4">
                    <table class="table table-borderless datatable">
                        <thead>
                            <tr>
                                <th class="col-2 text-center">Mã sản phẩm</th>
                                <th class="col-1 text-justify">Image</th>
                                <td class="col-4 text-center">ProductName</td>
                                <td class="col-2 text-center">Số lượng</td>
                                <td class="col-1 text-center">Ẩn/Hiện</td>
                                <td class="col-2 text-center">Chức năng</td>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 1;
                            }
                            @foreach (var item in Model.OrderBy(n=>n.ProductID))
                            {
                                <tr id="tr_@item.ProductID" class="text-center">
                                    <td>@(i++)</td>
                                    <td class="text-center">
                                        <a asp-area="Admin" asp-controller="Menu" asp-action="Details"
                                           asp-route-id="@item.ProductID" class="text-center"><img style="width:50px;height:50px" src="@item.Image" /></a>
                                    </td>
                                    <td class="text-left">@item.ProductName</td>
                                    <td class="text-center">@item.Quantity</td>
                                    <td class="text-center">
                                        @if (item.IsActive == true)
                                        {
                                            @Html.CheckBox("IsActive", true, new { disabled = "disabled" })
                                        }
                                        else
                                        {
                                            @Html.CheckBox("IsActive", new { disabled = "disabled" })
                                        }
                                    </td>
                                    <td class="text-center">
                                        <a asp-area="Admin" asp-controller="Product" asp-action="Edit"
                                           asp-route-id="@item.ProductID" class="btn btn-primary btn-sm"
                                           title="Sửa nội dung bài viết"><i class="bi bi-pencil"></i></a>
                                        <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.ProductID">Chi tiết</a>
                                        <a data-id="@item.ProductID" class="btn btn-danger btn-sm btn-delete"><i class="bi bi-trash"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</main>
@section Scripts{
    <script>
        $(document).ready(function () {
            $(".btn-delete").click(function () {
                _id = $(this).data("id");
                if (confirm("Bạn có muốn xóa không")) {
                    $.ajax({
                        url: "/Admin/Product/Delete",
                        type: "POST",
                        data: { id: _id },
                        success: function (result) {
                            if (result) {
                                $("#tr_" + _id).remove();
                                toastr.success('Xóa thành công');
                            }
                            else {
                                toastr.error('Xóa không thành công');
                            }
                        }
                    })
                }
            });
        })
    </script>
}
