@using Bandodientu.Models;
@using Bandodientu.Models.ViewModels;
@model ProductListViewModel;
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    IList<Comment> cmt = ViewBag.cmt;
}
<main id="main" class="main">
    <div class="pagetitle">
        <h2> Danh sách sản phẩm</h2>
    </div>
    <form asp-action="Search" asp-controller="Product">
        <div class="input-group mb-4 border rounded-pill p-1" style="background-color:white">
            <input type="search" name="keywords" placeholder="Tìm kiếm theo tên sản phẩm?" aria-describedby="button-addon3" class="form-control bg-none border-0">
            <div class="input-group-append border-0">
                <button id="button-addon3" type="submit" class="btn btn-link text-success"><i class="bi bi-search"></i></button>
            </div>
        </div>
    </form>
    <p>
        <a type="button" class="btn btn-success" asp-area="Admin" asp-controller="Product" asp-action="Create">
            <i class="ri-add-circle-line me-1">Thêm sản phẩm</i>
        </a>
    </p>
    <section class="section dashboard">
        <div class="row">
            <div class="col-12">
                <div class="card-body mt-4">
                    <table class="table table-borderless datatable">
                        <thead>
                            <tr>
                                <th class="col-2 text-center">Mã sản phẩm</th>
                                <th class="col-1 text-justify">Image</th>
                                <td class="col-3 text-center">ProductName</td>
                                <td class="col-1 text-center">Giá gốc</td>
                                <td class="col-1 text-center">Giá giảm</td>
                                <td class="col-1 text-center">Ẩn/Hiện</td>
                                <td class="col-4 text-center">Chức năng</td>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 1;
                            }
                            @foreach (var item in Model.Products.OrderBy(n=>n.ProductID))
                            {
                                var cm = cmt.Count(m => m.ProductID == item.ProductID);
                                <tr id="tr_@item.ProductID" class="text-center">
                                    <td>@(i++)</td>
                                    <td class="text-center">
                                        <a asp-area="Admin" asp-controller="Menu" asp-action="Details"
                                           asp-route-id="@item.ProductID" class="text-center"><img style="width:50px;height:50px" src="@item.Image" /></a>
                                    </td>
                                    <td class="text-left">@item.ProductName</td>
                                    <td class="text-center">@item.OriginalPrice</td>
                                    <td class="text-center">@item.DiscountedPrice</td>
                                    <td class="text-center">
                                        @if (item.IsActive == true)
                                        {
                                            <a href="#" class="IsActive" data-id="@item.ProductID"><i class="bi bi-check2 text-success" style="font-size:25px"></i></a>
                                        }
                                        else
                                        {
                                            <a href="#" class="IsActive" data-id="@item.ProductID"><i class="bi bi-x text-danger" style="font-size:25px"></i></a>
                                        }
                                    </td>
                                    <td class="text-center">
                                        <a asp-area="Admin" asp-controller="Product" asp-action="Edit"
                                           asp-route-id="@item.ProductID" class="btn btn-primary btn-sm"
                                           title="Sửa nội dung bài viết"><i class="bi bi-pencil"></i></a>
                                        <a asp-area="Admin" asp-controller="ProductImage" asp-action="Index"
                                           asp-route-id="@item.ProductID" class="btn btn btn-success btn-sm"
                                           title="Danh sách hình ảnh"><i class="bi bi-image"></i></a>
                                        <a asp-area="Admin" asp-controller="ProductComment" asp-action="Index"
                                           asp-route-id="@item.ProductID" class="btn btn btn-success btn-sm"
                                           title="Danh sách bình luận"><i class="bi bi-chat"></i>(@cm)</a>
                                        <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.ProductID">Chi tiết</a>
                                        <a data-id="@item.ProductID" class="btn btn-danger btn-sm btn-delete"><i class="bi bi-trash"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="container mt-3">
            <ul class="list-group list-group-horizontal">
                @for (i = 1; i <= Model.PagingInfo.TotalPages; i++)
                {
                    @if (i == 1)
                    {
                        <li class="list-group-item"><a href="https://localhost:7295/Admin/Product/?productPage=@i">1</a></li>
                    }
                    else
                    {
                        <li class="list-group-item"><a href="https://localhost:7295/Admin/Product/?productPage=@i">@i</a></li>
                    }
                }
                <li class="list-group-item"><a href="https://localhost:7295/Admin/Product/?productPage=@(Model.PagingInfo.CurrentPage + 1)"><i class="bi bi-arrow-right-circle"></i></a></li>        
            </ul>
        </div>
    </section>
</main>
@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        $(document).ready(function () {
            $('body').on('click', '.IsActive', function (e) {
                e.preventDefault();
                var check = $(this);
                _id = check.data("id");
                $.ajax({
                    url: "/Admin/Product/IsActive",
                    type: "POST",
                    data: { id: _id },
                    success: function (rs) {
                        if (rs.isActive) {
                            $(check).html("<i class='bi bi-check2 text-success' style='font-size: 25px'></i>");
                        }
                        else {
                            $(check).html("<i class='bi bi-x text-danger' style='font-size:25px'></i>");
                        }
                    }
                });
            })
            $(".btn-delete").click(function () {
                _id = $(this).data("id");

                // Use SweetAlert for confirmation
                Swal.fire({
                    title: 'Bạn có chắc muốn xóa?',
                    text: "Thao tác này không thể hoàn tác!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Xác nhận',
                    cancelButtonText: 'Hủy'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: "/Admin/Product/Delete",
                            type: "POST",
                            data: { id: _id },
                            success: function (result) {
                                if (result) {
                                    $("#tr_" + _id).remove();
                                    toastr.success('Xóa thành công');
                                } else {
                                    toastr.error('Xóa không thành công');
                                }
                            }
                        });
                    }
                });
            });
        });
    </script>
}
