@using Bandodientu.Models;
@using Bandodientu.Models.ViewModels;
@model AdminUserListViewModel;
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<main id="main" class="main">
    <div class="pagetitle">
        <h2> Danh sách người quản lí</h2>
    </div>
    <form asp-action="Search" asp-controller="AdminUser">
        <div class="input-group mb-4 border rounded-pill p-1" style="background-color:white">
            <input type="search" name="keywords" placeholder="Tìm kiếm theo tên người quản lí?" aria-describedby="button-addon3" class="form-control bg-none border-0">
            <div class="input-group-append border-0">
                <button id="button-addon3" type="submit" class="btn btn-link text-success"><i class="bi bi-search"></i></button>
            </div>
        </div>
    </form>
    <section class="section dashboard">
        <div class="row">
            <div class="col-12">
                <div class="card-body mt-4">
                    <table class="table table-borderless datatable">
                        <thead>
                            <tr>
                                <th class="col-1 text-center">Mã</th>
                                <th class="col-2 text-center">UserName</th>
                                <td class="col-1 text-center">Password</td>
                                <td class="col-1 text-center">Email</td>
                                <td class="col-1 text-center">Ẩn/Hiện</td>
                                <td class="col-3 text-center">Chức năng</td>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i=1;
                            }
                            @foreach (var item in Model.AdminUsers)
                            {
                                <tr class="text-center" id="tr_@item.UserID">
                                    <td>@(i++)</td>
                                    <td class ="text-center">
                                        <a asp-area="Admin" asp-controller="Menu" asp-action="Details"
                                           asp-route-id="@item.UserID" class="text-primary">@item.UserName</a>
                                    </td>
                                    <td class="text-center">@item.Password</td>
                                    <td class="text-center">@item.Email</td>
                                    <td class="text-center">
                                        @if (item.IsActive == true)
                                        {
                                            @Html.CheckBox("IsActive", true, new { disabled = "disabled" })
                                        }
                                        else
                                        {
                                            @Html.CheckBox("IsActive", new { disabled = "disabled" })
                                        }
                                    </td>
                                    <td class="text-center">
                                        <a asp-area="Admin" asp-controller="AdminUser" asp-action="Edit"
                                           asp-route-id="@item.UserID" class="btn btn-primary btn-sm"
                                           title="Sửa nội dung bài viết"><i class="bi bi-pencil"></i></a>
                                        <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.UserID">Chi tiết</a>
                                        <a data-id="@item.UserID" class="btn btn-danger btn-sm btn-delete"><i class="bi bi-trash"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="container mt-3">
            <ul class="list-group list-group-horizontal">
                @for (i = 1; i <= Model.PagingInfo.TotalPages; i++)
                {
                    @if (i == 1)
                    {
                        <li class="list-group-item"><a href="https://localhost:7295/Admin/AdminUser/?productPage=@i">1</a></li>
                    }
                    else
                    {
                        <li class="list-group-item"><a href="https://localhost:7295/Admin/AdminUser/?productPage=@i">@i</a></li>
                    }
                }
                <li class="list-group-item"><a href="https://localhost:7295/Admin/AdminUser/?productPage=@(Model.PagingInfo.CurrentPage + 1)"><i class="bi bi-arrow-right-circle"></i></a></li>
            </ul>
        </div>
    </section>
</main>
@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        $(document).ready(function () {
            $(".btn-delete").click(function () {
                _id = $(this).data("id");

                // Use SweetAlert for confirmation
                Swal.fire({
                    title: 'Bạn có chắc muốn xóa?',
                    text: "Thao tác này không thể hoàn tác!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Xác nhận',
                    cancelButtonText: 'Hủy'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: "/Admin/AdminUser/Delete",
                            type: "POST",
                            data: { id: _id },
                            success: function (result) {
                                if (result) {
                                    $("#tr_" + _id).remove();
                                    toastr.success('Xóa thành công');
                                } else {
                                    toastr.error('Xóa không thành công');
                                }
                            }
                        });
                    }
                });
            });
        });
    </script>
}

