@using Bandodientu.Utilities;
@using Bandodientu.Models;
@model IList<OrderDetail>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    List<Product> product = ViewBag.product;
    List<Order> order = ViewBag.order;
}
<main id="main" class="main">
    <div class="pagetitle">
        <h2>Chi tiết đơn hàng</h2>
    </div>
    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-12">
                <div class="card recent-sales overflow-auto">
                    <div class="card-body mt-4">
                        <table class="table table-borderless datatable">
                            <thead>
                                <tr>
                                    <th class="col-2 text-center">#</th>
                                    <th class="col-2 text-center">Ảnh</th>
                                    <th class="col-3 text-center">Tên sản phẩm</th>
                                    <th class="col-3 text-center">Giá tiền</th>
                                    <th class="col-1 text-center">Số lượng</th>
                                    <th class="col-2 text-center">Thành tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 1;
                                }
                                @foreach (var items in Model)
                                {
                                    var pd = product.FirstOrDefault(s => s.ProductID == items.ProductID);
                                    <tr>
                                        <th class="text-center" scope="row">@(i++)</th>
                                        <td class="text-center"><img src="@pd.Image" style="width:80px" /></td>
                                        <td class="text-center">@pd.ProductName</td>
                                        <td class="text-center">@items.Price<sup>đ</sup></td>
                                        <td class="text-center">@items.Quantity</td>
                                        <td class="text-center">@(@items.Quantity * items.Price)<sup>đ</sup></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <a style="margin-top:10px;width:100px" class="btn btn-warning p-2" href="javascript:history.back()">
                            <i class="bi bi-arrow-left-circle"></i> Quay lại
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
