@using Bandodientu.Utilities;
@using Bandodientu.Models;
@model IList<OrderDetail>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    List<Customer> customer = ViewBag.customer;
    List<OrderStatus> orderstatus = ViewBag.orderstatus;
    List<Order> order = ViewBag.order;
    @foreach (var item in Model)
    {
        var orderInfo = order.FirstOrDefault(m => m.OrderID == item.OrderID);
        // Lấy thông tin khách hàng từ bảng Customer
        var customerInfo = orderInfo != null ? orderInfo.Address : null;
    }
}
<main id="main" class="main">
    <div class="pagetitle">
        <h2>Chi tiết đơn hàng</h2>
    </div>
    @foreach(var item in Model)
    {
        var orderInfo = order.FirstOrDefault(m => m.OrderID == item.OrderID);
        // Lấy thông tin khách hàng từ bảng Customer
        var customerInfo = orderInfo != null ? orderInfo.Address : null;
    <div class="container shadow p-5">
        <form>
            <div asp-validation-summary="All"></div>
            <div class="form-row" style="display:block ruby">
                <input type="text" class="form-control mb-3" asp-for="@item.OrderDetailID" type="hidden">
                <div class="form-group col-md-3" style="padding-right:100px">
                        <label asp-for="@orderInfo.Code">Code</label>
                        <input type="text" class="form-control mb-3" asp-for="@orderInfo.Code">
                        <span asp-validation-for="@orderInfo.Code" class="alert-danger"></span>
                </div>
                <div class="form-group col-md-3">
                        <label asp-for="@customerInfo"></label>
                        <input type="text" class="form-control mb-3" asp-for="@customerInfo">
                        <span asp-validation-for="@customerInfo" class="alert-danger"></span>
                </div>
            </div>
        </form>
    </div>
    }
</main>
